/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* DEBUG */
    border: 1px dashed greenyellow;
    min-height: 100px;
    min-width: 100px;
}

.container{

}


.brd-rad-25px{
    border-radius: 25px;

}



/* REGOLE DELL'HEADER */

header{
    background-color: #0084fd;
    margin-bottom: 40px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



/* REGOLE DEL MAIN */


/* PRIMA SEZIONE */


.one-sect .col{
    background-color: #b5ddff;
    margin-bottom: 20px;
    width: 100%;
    
    

}

#main-nav{
    display: none;



}

/* SECONDA SEZIONE */


.two-sect{
    background-color: #9792e4;
}


/* TERZA SEZIONE */




/* QUARTA SEZIONE */

.four-sect{
    background-color: #9792e4;
}



/* QUINTA SEZIONE */



/* SESTA SEZIONE */


.six-sect{
    background-color: #9792e4;
}
















/* VERSIONE TABLET */




@media screen and (min-width:768px){

    .one-sect .row{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 10px;
        

    }

    .one-sect .col{
        width: calc((100%/3)-10px);


    }

    .one-sect .colx2{
        width: calc(((100%/3)*2)-10px);

    }
    
}





/* VERSIONE DESKTOP */

@media screen and (min-width: 1140px){
    /* REGOLE GENERALI */

    .container{
        width: 70%;
    }
    /* REGOLE DELLìHEADER */


    #hambueger{
        display: none;
    }

    #main-nav{
        display: block;



    }








}



