/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* DEBUG */
    /* border: 1px dashed greenyellow; */
    
}

body{
    font-family: 'PT sans',sans-serif;
}

.container{
    margin: 0 40px;

}


.brd-rad-25px{
    border-radius: 25px;

}

.brd-rad-50px{
    border-radius: 50px;
}

.brd-rad-circle{
    border-radius: 50%;
    width: 280px;
    height: 280px;

}

img{
    width: 100%;

}

.text-white{
    color: white;
}

.text-purple{
    color: #9792e4;
}

#text-yellow{
    color: #fdc15f;
}

.text-blue{
    color: #0084fd;
}

.text-algn-cnt{
    text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-blue{
    background-color: #0084fd;
}







/* REGOLE DELL'HEADER */

header{
    background-color: #0084fd;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    height: 50%;
}
#logo a img{
    height: 100%;
}

#hambueger a {
    font-size: 30px;
}

#main-nav{
    display: none;



}


/* REGOLE DEL MAIN */


/* REGOLE PRIMA SEZIONE */

.feature{
    margin-top: 160px;
}

.card-one-sect{
    padding: 40px 35px 0 35px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;

}

.feature .col{
    background-color: #b5ddff;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    
    
}

.feature .colx2{
    background-color: #b5ddff;
    margin-bottom: 20px;
    /* width: 100%; */
    text-align: center;
    
    
}

#apple-button {
    display: block;
    width: 92%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 2px;
    padding: 16px 45px; 
}

#img-phone{
    width: 90%;
    padding-left: 20px;
    vertical-align: bottom;
}

.card-one-sect h3{
    font-size: 34px;
    text-align: center;
}

.card-one-sect p{
    font-size: 24px;
    font-weight: bold;
    color: #546777;
    line-height: 40px;
}

.card-minor{
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 26px;
    color: #586c7c;
    font-weight: bold;
    line-height: 34px;
    
}

.card-minor h3{
    font-size: 34px;
}

.card-minor div{
    font-size: 480%;
}











/* REGOLE SECONDA SEZIONE */


.strategic{
    background-color: #9792e4;
    padding: 0 0 80px;
}

.strategic .col{
    text-align: center;
}

#img-str-1{
    margin: 90px 0;
}


.strategic h2{
    font-size: 44px;
    text-align: start;
}

.strategic p{
    font-size: 24px;
    line-height: 34px;
    margin: 60px 0 40px;
    text-align: start;
}

.card-white{
    padding: 50px 30px;
}

.strategic h3{
    font-size: 34px;
    margin-top: 30px;
}

#arrow-text p{
    font-size: 26px;
    font-style: oblique;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
}



.circle{
    background-color: #9792e4;
    width: 70px;
    height: 70px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circle i{
    font-size: 170%;
}












/* REGOLE TERZA SEZIONE */

.testimonials .container div#img1, .testimonials .container div#img2,.testimonials .container div#img3{
    margin: -5px auto;
}

.testimonials .row>div{
    margin: 50px 0;
}

.testimonials .row>div:last-child{
    margin-bottom: 140px;
}

.testimonials h5{
    font-size: 26px;
    margin-top: 30px;
    color: #5c5c5c;
    font-weight: normal;
}

.testimonials h2{
    font-size: 48px;
    margin: 40px 0;
}

.testimonials .text-algn-cnt>p{
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 20px;

}

.card-purple{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
}

.card-purple p{
    font-size: 28px;
    line-height: 44px;
}

.card-purple p i{
    font-size: 120%;
}

.name-testimonials{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.card-purple-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}







#img1{
    background-image: url("../img/testimonial1.jpg");
    background-size: cover;
    background-position: center;
    
   
    
}
#img2{
    background-image: url("../img/testimonial2.jpg");
    background-size: cover;
    background-position: center;
    
   
    
}
#img3{
    background-image: url("../img/testimonial3.jpg");
    background-size: cover;
    background-position: center;
   
    
}




/* REGOLE QUARTA SEZIONE */

.benefits {
    background-color: #9792e4;
    height: 4100px;
}

.benefits .col{
    margin-bottom: 35px;
}

.benefits .col:last-child{
    margin-bottom: 70px;
}

#space{
    height: 1px;
}


#benefits-h2{
    font-size: 50px;
    margin: 100px 0;
    
}

.card{
    padding: 40px 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    

}
.card h2{
    font-size: 70px;
    margin-bottom: 20px;
}

.card h3{
    font-size: 36px;
}

.card p{
    font-size: 24px;
    line-height: 40px;
    color: #586c7c;
}

.card a{
    width: 55%;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}



/* REGOLE QUINTA SEZIONE */

.about-us .row{
    margin: 40px 0;
}
.about-us h2{
    font-size: 70px;
    margin: 60px 0;
}
.about-us p{
    font-size: 27px;
    line-height: 60px;
    margin-bottom: 70px;
}
#img-about-us{
    background-image: url(../img/about.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 270px;
    min-height: 270px;
}
#img-about-us>div {
    font-size: 1000%;
    color: #9792e4;
    float: right;
}

.about-us h3{
    font-size: 44px;
    margin: 30px 0;
}
.about-us .col:last-child{
    margin-bottom: 70px;
}
.about-us .col a{
    font-size: 24px;
    padding: 10px 20px;
}



/* REGOLE SESTA SEZIONE */


.gets-started{
    background-color: #9792e4;
    font-size: 22px;
    height: 850px;
}

/* .gets-started .row{
    margin: 40px 0;
} */

.gets-started .container .row>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    /* margin: 50px 0; */

}
.gets-started h5{
    color: #d6d6f4;
    margin-top: 80px;
}

.gets-started h5, .gets-started a{
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: normal;
    
}

.gets-started h3{
    font-size: 40px;
}

.gets-started h2{
    font-size: 90px;
}

.gets-started p{
    font-size: 24px;
    line-height: 40px;
}

.gets-started a{
    font-weight: bold;
    padding: 30px 50px;
    margin: 20px 20px;

}






/* REGOLE DEL FOOTER */

footer{
    background-color: #333333;
}


footer div{
    display: flex;
    flex-direction: column;
    
}

footer div p{
    margin: 70px 0;
    
}

footer p{
    font-size: 20px;
    padding: 0 20px;
}












/* VERSIONE TABLET */




@media screen and (min-width:768px){

    .feature .row{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 10px;
        

    }

    .feature .col{
        width: calc((100%/3));


    }

    .feature .colx2{
        width: calc(((100%/3)*2));
        background-color: #b5ddff;
        margin-bottom: 20px;
        text-align: center;




        /* 2 */

    }    

    .strategic h2{
        font-size: 90px;
        text-align: start;
    }

    /* 3 */


    .card-purple{
        padding: 50px 30px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: center;
        
    }

    .card-purple-text{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .card-purple-text p{
        text-align: initial;

        margin-top: 30px;
    }



    /* 4 */

    .benefits .row{
        /* width: calc((100/2)-50px); */
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        
        

    }

    .benefits .col{
        width: calc(50% - 40px);
        margin-bottom: 0px;
    }


    .benefits .col:nth-last-child(-n + 2){
        margin-bottom: 70px;
    }


    /* 5 */


    .about-us .row{
        display: flex;
        gap: 100px;
    }

    .about-us .col{
        width: calc(10%-100px);

    }

    .about-us .col2{
        width: calc(45%-100px);
    }

















    
    
}





/* VERSIONE DESKTOP */

@media screen and (min-width: 1140px){
    /* REGOLE GENERALI */

    .container{
        margin: 0 auto;
        width: 70%;
    }
    /* REGOLE DELLìHEADER */


    #hambueger{
        display: none;
    }

    #main-nav{
        display: block;



    }








}



