/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* DEBUG */
    border: 1px dashed greenyellow;
    
}

body{
    font-family: 'PT sans',sans-serif;
}

.container{
    margin: 0 40px;

}


.brd-rad-25px{
    border-radius: 25px;

}

.brd-rad-50px{
    border-radius: 50px;
}

.brd-rad-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

img{
    width: 100%;

}

.text-white{
    color: white;
}

.text-purple{
    color: #9792e4;
}

#text-yellow{
    color: #fdc15f;
}

.text-blue{
    color: #0084fd;
}

.text-algn-cnt{
    text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-blue{
    background-color: #0084fd;
}







/* REGOLE DELL'HEADER */

header{
    background-color: #0084fd;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    height: 50%;
}
#logo a img{
    height: 100%;
}

#hambueger a {
    font-size: 30px;
}

#main-nav{
    display: none;



}


/* REGOLE DEL MAIN */


/* REGOLE PRIMA SEZIONE */

.one-sect{
    margin-top: 160px;
}

.card-one-sect{
    padding: 40px 35px 0 35px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;

}

.one-sect .col{
    background-color: #b5ddff;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    
    
}

#apple-button {
    display: block;
    width: 92%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 2px;
    padding: 10px 45px; 
}

#img-phone{
    width: 90%;
    padding-left: 20px;
}

.card-one-sect h3{
    font-size: 26px;
    text-align: center;
}

.card-one-sect p{
    font-size: 20px;
    font-weight: bold;
    color: #546777;
    line-height: 30px;
}

.card-minor{
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 22px;
    color: #586c7c;
    font-weight: bold;
    line-height: 34px;
    
}

.card-minor h3{
    font-size: 34px;
}

.card-minor div{
    font-size: 480%;
}











/* REGOLE SECONDA SEZIONE */


.strategic{
    background-color: #9792e4;
    padding: 0 0 80px;
}

.strategic .col{
    text-align: center;
}

#img-str-1{
    margin: 90px 0;
}


.strategic h2{
    font-size: 44px;
}

.strategic p{
    font-size: 22px;
    line-height: 34px;
    margin: 60px 0 40px;
    text-align: start;
}

.card-white{
    padding: 50px 30px;
}

.strategic h3{
    font-size: 34px;
    margin-top: 30px;
}

#arrow-text p{
    font-size: 26px;
    font-style: oblique;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
}



.circle{
    background-color: #9792e4;
    width: 70px;
    height: 70px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circle i{
    font-size: 170%;
}












/* REGOLE TERZA SEZIONE */

.testimonials .container div{
    margin: 0 auto;
}

.testimonials .container div div, .testimonials .container div span{
    margin-top: 25px;
    margin-bottom: 25px;
}





#img1{
    background-image: url("../img/testimonial1.jpg");
    background-size: cover;
    background-position: center;
    
   
    
}
#img2{
    background-image: url("../img/testimonial2.jpg");
    background-size: cover;
    background-position: center;
    
   
    
}
#img3{
    background-image: url("../img/testimonial3.jpg");
    background-size: cover;
    background-position: center;
   
    
}




/* REGOLE QUARTA SEZIONE */

.four-sect{
    background-color: #9792e4;
}

.four-sect .col{
    margin-bottom: 35px;
}

.four-sect .col:last-child{
    margin-bottom: 70px;
}


.four-sect .container>h2{
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.card{
    padding: 40px 35px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    

}
.card h2{
    font-size: 50px;
}

.card h3{
    font-size: 26px;
}



/* REGOLE QUINTA SEZIONE */






#img-about-us{
    background-image: url(../img/about.jpg);
    background-size: cover;
    /* debug */
    width: 100%;
    min-height: 200px;
}



/* REGOLE SESTA SEZIONE */


.six-sect{
    background-color: #9792e4;
    font-size: 18px;
}

.six-sect .container .row>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 60px 0;

}

.six-sect h5, .six-sect a{
    font-size: 22px;
}

.six-sect h3{
    font-size: 32px;
}

.six-sect h2{
    font-size: 70px;
}

.six-sect a{
    font-weight: bold;
    padding: 20px 50px;
    margin: 0 20px;
}






/* REGOLE DEL FOOTER */

footer{
    background-color: #333333;

}

footer div p{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px; */
    margin-top: 40px;
    margin-bottom: 40px;
}












/* VERSIONE TABLET */




@media screen and (min-width:768px){

    .one-sect .row{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 10px;
        

    }

    .one-sect .col{
        width: calc((100%/3)-10px);


    }

    .one-sect .colx2{
        width: calc(((100%/3)*2)-10px);

    }
    
}





/* VERSIONE DESKTOP */

@media screen and (min-width: 1140px){
    /* REGOLE GENERALI */

    .container{
        margin: 0 auto;
        width: 70%;
    }
    /* REGOLE DELLìHEADER */


    #hambueger{
        display: none;
    }

    #main-nav{
        display: block;



    }








}



